
*{
  padding:0;
}

.player {
  padding: 10px 15px;
  
  box-shadow: 0 0 10px rgba(255,0,0,0.9);
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.player__container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.player__download{

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.progress{
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: red;
}
label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding-bottom: 20px;
  
}
.player__controls {
  width: 100%;
  display: none;
}
.player__list {
  box-sizing: border-box;
  background-color: black;
  max-height: 400px;
  overflow-y: scroll;
  
}

.player__list-item {
  color: white;
  padding-bottom: 20px;
  list-style-type: none;
  cursor: pointer;
  display: flex;
    align-items: center;
}
.player__list-item--active{
  color:red;
}
.player__list-index{
  padding-right: 15px;
  align-self: flex-end;
  color: white;
}
.player__list-img{
  width:30px;
  margin-right: 20px;
}
.player__active{
  position: relative;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.player__btn-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}
.player__active span{
  margin: 20px 0;
  color: red;
  font-size: 14px;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 5s infinite linear;
  -moz-animation: scroll 5s infinite linear;
  animation: scroll 5s infinite linear;
animation: scroll 15s infinite linear;
}
.player__active img{
  max-width: 350px;
}

@-webkit-keyframes scroll {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@-moz-keyframes scroll {
  0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -moz-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0)
  }
}


@font-face {
  font-family: iconfont;
  src: url("//static0.qianqian.com/web/st/font/iconfont-4e6.woff") format("woff");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 40px;
  font-style: normal;
  color: red;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e603";
}

.icon-loop-single:before {
  content: "\e604";
}

.icon-arrow-right:before {
  content: "\e605";
}

.icon-loop:before {
  content: "\e606";
}

.icon-prev:before {
  content: "\e607";
}

.icon-favor:before {
  content: "\e608";
}

.icon-next:before {
  content: "\e60a";
}

.icon-download:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e60c";
}

.icon-zhanwei1:before {
  content: "\e610";
}

.icon-favor1:before {
  content: "\e618";
}

.icon-random:before {
  content: "\e619";
}

.icon-play:before {
  content: "\e616";
}

.icon-stop:before {
  content: "\e617";
}

.icon-mv:before {
  content: "\e61b";
}

.icon-arrow-down:before {
  content: "\e61d";
}

.icon-arrow-left:before {
  content: "\e61e";
}

.icon-arrow-up:before {
  content: "\e61f";
}

.icon-listen:before {
  content: "\e609";
}

.icon-round:before {
  content: "\e60d";
}

.icon-triangle:before {
  content: "\e60e";
}

.icon-information:before {
  content: "\e60f";
}

.icon-home:before {
  content: "\e611";
}

.icon-i:before {
  content: "\e612";
}

.icon-information-:before {
  content: "\e613";
}

.icon-bubble-filled-icon:before {
  content: "\e614";
}

.icon-round-right:before {
  content: "\e615";
}

.icon-vip:before {
  content: "\e61a";
}

.icon-word:before {
  content: "\e61c";
} 
