* {
  padding: 0;
}






.player {
  padding: 10px 15px;
  box-shadow: 0 0 10px #514d4d;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column-reverse;
}

.player__container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.player__download {

  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  padding-bottom: 20px;

}

.player__controls {
  width: 100%;
  display: none;
}

.player__list {
  transition: all 1s ease-in-out;
  animation-name: animatetop;
  animation-duration: 1s;
  box-sizing: border-box;
  background-color: black;
  max-height: 400px;
  overflow-y: scroll;
  position: relative;

}
.player__list--open{
  transform: (1.1);
} 


.player__list-item {
  border-top: 1px solid #514d4d;
  color: white;
  box-sizing: border-box;
  padding: 20px 0;
  list-style-type: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.player__list-item:hover .player__list-song{
color: red;
}
.player__list-item:hover  .player__list-index{
  color: red;
  }

.player__list-item:first-child {
  border: none;
}

.player__list-item--active {
  color: red;
}

.player__list-index {
  padding-right: 15px;
  align-self: flex-end;
  color: white;
}

.player__list-img {
  width: 40px;
  margin-right: 20px;
}

.player__active {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.player-active-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: red;
  margin: 40px 0 20px 0;
}
.player-active-details__item{
  display: flex;
  flex-direction: column;
}
.player-active-details__title{
  font-size: 16px;
  margin-bottom: 5px;
   color: rgb(193, 193, 193);
}
.player-active-details__subtitle{
  font-size: 16px;
  color: red;
}
.player__time {
  display: flex;
  color: white;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;

}

.player__btn-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}



.player__image {
  transition: all 1000ms ease-in-out;
  border-radius: 7px;
  transform: scale(1);
  max-width: 300px;
}

.player__image--active {
  transition: all 1000ms ease-in-out;
  transform: scale(1.1);
}

.player__list-details {
  display: flex;
  flex-direction: column;
}

.player__list-artist {
  padding-top: 5px;
  font-size: 12px;
  color: #b7aeae;
}

@keyframes animatetop {
  from {top: -10px; opacity: 0}
  to {top: 0; opacity: 1}
}



@font-face {
  font-family: iconfont;
  src: url("//static0.qianqian.com/web/st/font/iconfont-4e6.woff") format("woff");
}

.iconfont {
  font-family: iconfont !important;
  font-size: 60px;
  font-style: normal;
  color: rgb(193, 193, 193);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont:hover {
  color: red;
  transition: color 300ms ease-in-out;
}

.icon-list:before {
  align-self: flex-start;
  font-size: 40px;
  content: "\e603";
}

.icon-loop-single:before {
  content: "\e604";
}

.icon-arrow-right:before {
  content: "\e605";
}

.icon-loop:before {
  content: "\e606";
}

.icon-prev:before {
  content: "\e607";
  margin-right: 30px;
}

.icon-favor:before {
  content: "\e608";
}

.icon-next:before {
  margin-left: 30px;
  content: "\e60a";
}

.icon-download:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e60c";
}

.icon-zhanwei1:before {
  content: "\e610";
}

.icon-favor1:before {
  content: "\e618";
}

.icon-random:before {
  content: "\e619";
  font-size: 40px;
  position: absolute;
  left: 0px;
  top: 10px;
}

.icon-play:before {
  content: "\e616";
}

.icon-stop:before {
  content: "\e617";
}



.icon-arrow-down:before {
  content: "\e61d";
}

.icon-arrow-left:before {

  content: "\e61e";
}

.icon-arrow-up:before {
  content: "\e61f";
}

.icon-listen:before {
 
  content: "\e609";
}

.icon-round:before {
  content: "\e60d";
}

.icon-triangle:before {
  content: "\e60e";
}

.icon-information:before {
  content: "\e60f";
}

.icon-home:before {
  content: "\e611";
}

.icon-i:before {
  content: "\e612";
}

.icon-information-:before {
  content: "\e613";
}

.icon-bubble-filled-icon:before {
  content: "\e614";
}

.icon-round-right:before {
  content: "\e615";
}

.icon-vip:before {
  content: "\e61a";
}

.icon-word:before {
  content: "\e61c";
}
